body {
    background-color:white;
    margin:0;
    padding:0;
    font-family:"Century Gothic";
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#header img {
    width:100%;
}

#menu {
    position:absolute;
    top:8px;
    right:16px;
    padding:10px;
}

#menu a {
    font-size:14px;
    padding:20px;
    font-weight:bold;
    color:rgb(255, 255, 255);
    text-decoration:none;
    transition-duration:1s; 
}

#menu a:hover {
    font-size:16px;
}

h1#name {
    font-size:90px;
    margin:0;
    padding:0;
    font-family:"Century Gothic"; 
    text-align:center;
}

h2#subtitle {
    font-style:italic;
    font-size:20px;
    margin:0;
    padding:0;
    text-align:center;
}

h3 {
    margin:15px;
    font-size:15px;
    text-align:center;
}

#links a img{
    height:35px;
    width:35px;
    transition-duration:0.5s;
    opacity:60%;
    padding-left:25px;
    padding-right:25px;
    padding-top:8px;
}

#links a img:hover {
    opacity:100%;
    transform:scale(1.1);
}

#links {
    padding-left:20px;
    padding-right:20px;
    text-align:center;
}