body {
    background-color:white;
    margin:0;
    padding:0;
    font-family:'OpenSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#header img {
    width:100%;
    height:380px;
    object-fit:cover;
}

#menu {
    position:absolute;
    top:8px;
    right:16px;
    padding:10px;
}

#menu a {
    font-size:14px;
    padding:20px;
    font-weight:bold;
    color:rgb(255, 255, 255);
    text-decoration:none;
    transition-duration:1s; 
}

#menu a:hover {
    font-size:16px;
}

h1#name {
    font-size:90px;
    margin:0;
    padding:0;
    text-align:center;
}

h2#subtitle {
    font-style:italic;
    font-size:20px;
    margin:0;
    padding:0;
    text-align:center;
}

h3 {
    margin:15px;
    font-size:15px;
    text-align:center;
}

#links a img{
    height:35px;
    transition-duration:0.5s;
    padding-left:25px;
    padding-right:25px;
    padding-top:8px;
}

#links a img:hover {
    opacity:60%;
    transform:scale(1.1);
}

#links {
    padding-left:20px;
    padding-right:20px;
    text-align:center;
}

#about {
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:90px;
    margin-bottom:90px;
}

#about #img {
    text-align:right;    
    margin-left:15px;
}

#about #img img {
    height:500px;
    border-radius:20px;
    border-style:solid;
    border-width:5px;
}

#about #text {
    text-align:justify;
    font-weight:bold;
    width:400px;
    font-size:1.1em;
}

#about #text p {
    margin:0;
    padding-top:0;
    padding-right:15px;
}