body {
    background-color:white;
    margin:0;
    padding:0;
    font-family:"Century Gothic";
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#menu {
    position:absolute;
    top:8px;
    right:16px;
    padding:10px;
}

#menu a {
    font-size:14px;
    padding:20px;
    color:black;
    font-weight:bold;
    text-decoration:none;
    transition-duration: 1s; 
}

#menu a:hover {
    font-size:16px;
}

#container {
    margin-top:70px;
    padding:50px;
    text-align:center;
}

.project-card {
    display:inline-block;
    vertical-align:middle;
    text-align:justify;
    border-style:solid;
    border-width:4px;
    border-radius:20px;
    width:300px;
    height:400px;
    padding:25px;
    margin:20px;
}

p {
    margin-bottom:30px;
}

span {
    display:inline-block;
    margin-bottom:5px;
    background-color: rgb(196, 196, 196);
    border-style:solid;
    border-width:3px;
    border-radius:10px;
    border-color:rgb(66, 66, 66);
    font-weight:bold;
    font-size:0.8em;
    color:rgb(66, 66, 66);
    padding:7px;
}

button {
    padding:15px;
    background-color:black;
    border-radius:10px;
    border:none;
    margin-top:15px;
    transition-duration:0.7s;
    color:white;
    font-weight:bold;
    font-size:1em;
}

button:hover {
    background-color: white;
    color:black;
}